* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.div {
    background-color: blueviolet;
    width: 75px;
    height: 150px;
}
#add {
    background-color: darkgrey;
    color: black;
}
#multiply {
    background-color: darkgrey;
    color: black;
}
#divide {
    background-color: darkgrey;
    color: black;
}
#subtract {
    background-color: darkgrey;
    color: black;
}